<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>

	<h1>Views</h1>


	<div class="container" style="max-width: 900px" id="form">
		<form action="/api/reserve" method="post">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" required name="name" placeholder="6 God" id="name"></input>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" required name="email" placeholder="views@gmail.com" id="email"></input>
			</div>
			<div class="form-group">
				<label>Phone Number</label>
				<input type="text" class="form-control" required name="number" placeholder="416-416-4116" id="number"></input>
			</div>
			<button type="submit" class="btn btn-info btn-lg" style="width: 100%" id="submit" data-toggle="modal" data-target="#userTokenScreen">
				Reserve
			</button>
		</form>
	</div>
  <div class="alignleft">  
		<script type='text/javascript'>
		 amzn_assoc_ad_type = 'banner';
		 amzn_assoc_tracking_id = '199997-20';
		 amzn_assoc_marketplace = 'amazon';
		 amzn_assoc_region = 'US';
		 amzn_assoc_placement = 'assoc_banner_placement_default';
		 amzn_assoc_linkid = 'ZPPYB4MYMQHGWKC3';
		 amzn_assoc_campaigns = 'music';
		 amzn_assoc_p = '14';
		 amzn_assoc_banner_type = 'category';
		 amzn_assoc_isresponsive = 'false';
		 amzn_assoc_banner_id = '0T0EZHEVYQ4RKJMXXYG2';
		 amzn_assoc_width = '160';
		 amzn_assoc_height = '600';
		</script>
		<script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
	</div>
</body>
<script type="text/javascript">
$(function(){
   $("#submit").click(function () {
      $(this).text(function(i, text){
          return text === "Reserve" ? "Thank You!" : "Thank You!";
      })
   });
})
</script>
</html>