<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body class="w3-animate-opacity">
	<div class="container">
		<h1 class="6">Thank You!</h1>
			<h2 style="text-align: center; color: white;">Traffic! Working on sending them out shortly!</h2>
	</div>
	<div class="alignleft">  
		<script type='text/javascript'>
		 amzn_assoc_ad_type = 'banner';
		 amzn_assoc_tracking_id = '199997-20';
		 amzn_assoc_marketplace = 'amazon';
		 amzn_assoc_region = 'US';
		 amzn_assoc_placement = 'assoc_banner_placement_default';
		 amzn_assoc_linkid = 'ZPPYB4MYMQHGWKC3';
		 amzn_assoc_campaigns = 'music';
		 amzn_assoc_p = '14';
		 amzn_assoc_banner_type = 'category';
		 amzn_assoc_isresponsive = 'false';
		 amzn_assoc_banner_id = '0T0EZHEVYQ4RKJMXXYG2';
		 amzn_assoc_width = '160';
		 amzn_assoc_height = '600';
		</script>
		<script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
	</div>
</body>
</html>