<!DOCTYPE html>
<html>
<% include partials/head.ejs %>
<body>
<% include partials/navbar.ejs %>

	<div class="container" style="max-width: 900px">
		<div class="container" style="max-width: 500px">
			<h2 style="color: white;">Check your status</h2>
			<br>
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="7zJasd81237aoL">
				</div>
				<button type="submit" class="btn btn-primary" style="width: 100%">Check Status</button>
			</form>
		</div>
	</div>
</body>

<style type="text/css">
	.navbar-default {
		height: 80px;
	}

	.navbar-default .navbar-nav {
		margin-top: 12px;
	}
</style>

</html>